
<div class="padded"></div>
<h2 class="text-center">
  <%= "Welcome #{@user.first_name} #{@user.last_name}" %>
</h2>
<div class="padded"></div>

<div class="container">
  <div class="row">
    <div class="col-xs-4 col-sm-3">
      <nav class="nav-sidebar">
        <ul class="nav tabs">
          <li class=""><a href="#tab1" data-toggle="tab">My bookings</a></li>
          <li class=""><a href="#tab4" data-toggle="tab">Edit my account</a></li>
        </ul>
      </nav>
    </div>
    <!-- tab content -->
    <div class="col-xs-8 col-sm-9 text-center">
      <div class="tab-content">
        <div class="tab-pane active text-style" id="tab1">
          <%= render 'bookings/cards' %>
        </div>
        <div class="tab-pane text-style" id="tab4">
          <%= render 'form_user' %>
        </div>
      </div>
    </div>
  </div>
</div>


<%= link_to 'Edit', edit_profile_path(@profile) %> |
<%= link_to 'Back', root_path %>



<% content_for :js do %>
<script>

</script>
<% end %>
