<% if @bookings.empty? %>
  <h2>No bookings yet!</h2>
    <%= link_to guides_path do %>
      <button type="button" class="btn btn-success btn-lg">
        Start booking now!
      </button>
    <% end %>
<% else %>


<% @bookings.each do |booking| %>
  <div class="row cardlisting">
    <div class="col-xs-12 col-md-3 text-center">
      <%= image_tag booking.guide.photo, height: 200, width: 200, crop: :fill %>
    </div>

    <div class="col-xs-12 col-md-9">
      <div class="row">
        <div class="col-xs-12 col-md-6 cardlisting-description text-left">
          <h4><%= booking.guide.title %></h4>
        </div>
        <div class="col-xs-12 col-md-6 cardlisting-category">
            <% if booking.confirmed? %>
              <p><i class="fa fa-check" aria-hidden="true" style="color: green"></i><%= booking.status_flows.last.status.title %></p>
              <% elsif booking.rejected? || booking.cancelled?%>
              <p><i class="fa fa-times" aria-hidden="true" style="color: red"></i></i><%= booking.status_flows.last.status.title %></p>
              <% else %>
              <p><%= booking.status_flows.last.status.title %></p>
            <% end %>
        </div>
          <div class="col-xs-12 col-md-12 text-left cardlisting-name">
            <p> With : <%= booking.guide.profile.user.first_name %></p>
          </div>
          <div class="col-xs-12 col-md-12 text-left">
            <p> Date : <%= "#{booking.start_date} - #{booking.end_date}" %></p>
          </div>
          <div class="col-xs-12 col-md-12 text-left">
            <p> Price : <%= booking.total_price %> €</p>
          </div>
          <div class="col-xs-12 col-md-12 text-left cardlisting-mobile">
            <p> Contact : <%= booking.guide.profile.user.mobile %></p>
          </div>
          <div class="col-xs-6 col-md-12 text-right">
            <% if !booking.paid? %>
              <%= link_to payment_guide_booking_path(booking.guide,booking) do %>
                <button type="button" class="btn btn-primary">Pay now</button>
              <% end %>
            <% end %>
            <%= link_to guide_booking_path(booking.guide, booking) do %>
              <button type="button" class="btn btn-default">See Details</button>
            <% end %>
          </div>
      </div>
    </div>
  </div>
<% end %>
<% end %>
