<h1>New booking</h1>
<p>Find me in app/views/bookings/new.html.erb</p>

<%= simple_form_for [@guide, @booking] do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :start_date %>
    <%= f.input :end_date %>
    <% # TODO: Calculate and display price depending on start and end dates %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
