<% content_for(:title) do %>
  Yalla! Booking id <%= @booking.id%> in <%= @booking.guide.city %>
<% end %>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <h2>Your booking (id: <%= @booking.id %>) - <%= @role %> view</h2>
      <p><strong><em><%= "#{@booking.guide.title} with #{@booking.guide.profile.user.name}"%></em></strong></p>
        <%= "Status: #{@status_flows.last.status.title}"%>
      </p>
    </div>
    <div class="col-xs-12 col-sm-6 text-right not-padded">
      <em>
        <h4>Booking details:</h4>
        <p>
          <%= "" + @booking.start_date.strftime("%d %B %Y") %>
          <br>
          <%= "until " + @booking.end_date.strftime("%d %B %Y") if @booking.days > 1 %>
          <br>
          Price: <strong><%= @booking.total_price %> Euros</strong></p>
      </em>
    </div>
  </div>
  <div class="min-padded"></div>

  <%= render 'progressbar' %>

  <div class="min-padded"></div>

    <div class="row">
      <% if @role == 'owner' %>
        <div class="col-xs-6">
          <h3>Your visitor details</h3>
          <p><%= "Name: #{@booking.profile.user.name}" %> </p>
          <p><%= "Mobile: #{@booking.profile.user.mobile}" %> </p>
        </div>
        <div class="col-xs-6">
          <%= link_to guide_dashboard_profile_path(current_user.profile) do %>
            <button type="button" class="btn btn-default">Back</button>
          <% end %>
        </div>
      <% elsif @role == 'user' %>
        <div class="col-xs-6">
          <h3>Your Guide details</h3>
          <p><%= "Name: #{@booking.guide.profile.user.name}" %> </p>
          <p><%= "Mobile: #{@booking.guide.profile.user.mobile}" %> </p>
        </div>
        <div class="col-xs-6 text-right bottom-align">
          <%= link_to user_dashboard_profile_path(current_user.profile) do %>
            <button type="button" class="btn btn-default">Back</button>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>






