<nav class="navbar navbar-default navigation-clean-button navbar-transparent navbar-fixed-top" >
  <div class="container">
    <div class="navbar-header"><%= link_to("company name", root_path, class: "navbar-brand navbar-link") %>
      <button data-toggle="collapse" data-target="#navcol-1" class="navbar-toggle collapsed"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
    </div>

    <% if user_signed_in? %>
      <div class="collapse navbar-collapse" id="navcol-1">
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a data-toggle="dropdown" aria-expanded="false" href="#" class="dropdown-toggle btn btn-primary" style="color:white">Mon profil<span class="caret"></span></a>
            <ul role="menu" class="dropdown-menu">
              <li role="presentation"><%= link_to("Mes informations", profiles_path)%></li>
              <li role="presentation"><a href="#">Mes réservations</a></li>
              <li role="presentation"><%= link_to("Déconnexion", destroy_user_session_path, method: :delete) %></li>
            </ul>
          </li>
        </ul>
    </div>

    <% else %>
      <div class="collapse navbar-collapse" id="navcol-1">
        <p class="navbar-text navbar-right actions">
          <%= link_to("sign in", new_user_session_path, class: "navbar-link login") %>
          <%= link_to("sign up", new_user_registration_path, class: "btn btn-primary action-button", role: "button") %>
        </p>
      </div>
    <% end %>
  </div>
</nav>
