<div id="banner">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 text-center">
          <div class="banner-form home-text">
            <h2>Live the city like a local - follow the guide!</h2>
            <%= simple_form_for @guide, :url => search_guides_path, :method => :get, :defaults => {:required => false}, html: { :class => "form-inline" } do |f| %>
              <div class="form-group form-group-lg">
                <%= f.input :address, label: false %>
                <%= f.button :submit, 'Book now !', class: "btn btn-success btn-lg" %>
              </div>
            <% end %>
            <h4><%= link_to 'Browse all', guides_path, class: "home-text" %></h4>
          </div>
      </div>
    </div>
  </div>
</div>

<div class="padded"></div>

<div class="wrapper text-center">
  <div class="container">
    <div class="row text-center">
      <div class="col-xs-12 col-sm-6 col-lg-3">
        <%= image_tag("travel.png", height: '70') %>
        <div class="presentation text-center"><p>Travel happily</p></div>
      </div>
      <div class="col-xs-12 col-sm-6 col-lg-3">
        <%= image_tag("mail.png", height: '70') %>
        <div class="presentation text-center"><p>Ask directly your questions</p></div>
      </div>
      <div class="col-xs-12 col-sm-6 col-lg-3">
        <%= image_tag("guide.png", height: '70') %>
        <div class="presentation text-center"><p>Choose the perfect guide</p></div>
      </div>
      <div class="col-xs-12 col-sm-6 col-lg-3">
        <%= image_tag("pay.png", height: '70') %>
        <div class="presentation text-center"><p>Pay securely online</p></div>
      </div>
    </div>
  </div>
</div>

<div class="wrapper text-center bg-grey">
  <div class="container">
    <div class="row text-center">
      <div class="col-xs-12">
        <h2>Do you know your city better than anyone ?</h2>
        <h3>Become guide on Yalla! guides</h3>
        <%= link_to new_guide_path do %>
          <button type="button" class="btn btn-success btn-lg">
            Propose a tour in your city now!
          </button>
        <% end %>
    </div>
  </div>
</div>


<div class="padded"></div>

