<% if @guides.empty? %>
  <h2>No tours yet!</h2>
  <%= link_to new_guide_path do %>
      Propose a tour in your city now!
  <% end %>
<% else %>
  <% @guides.each do |guide| %>
    <div class="col-xs-12 col-sm-6 col-lg-4">
      <div class="card-guide">
        <div>
          <%= image_tag guide.photo, height: 200, width: 200, crop: :fill, :radius=>5, gravity: :auto, :class => "card-guide-img" %>
        </div>
        <%= link_to "", guide_path(guide), {class: "card-guide-link"} %>
        <div class="card-guide-price">
          <strong><%= '€' + guide.daily_price.to_s + '/day'%></strong>
        </div>
        <div class="card-guide-desc text-left">
          <p><strong><%= guide.title %></strong><br><i><%= ' by ' + guide.profile.user.first_name %></i></p>
        </div>
        <div class="card-guide-review text-left">
          <% prng = Random.new %>
          <% rating = prng.rand(2..4) %>
          <% 5.times do |r| %>
            <i class="fa fa-star<%= "-o" if rating < r %>" aria-hidden="true"></i>
          <% end %>
          </div>
        <div class="card-guide-explore">
          <%= link_to guide_path(guide) do %>
            <button type="button" class="btn btn-success btn-sm">
              <% if !current_user.nil? && current_user.id == guide.profile.user.id %>
                Manage
              <% else %>
                Explore!
              <% end %>
            </button>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
<% end %>


