<% if @guides.empty? %>
  <h2>No tours yet!</h2>
  <%= link_to new_guide_path do %>
    <button type="button" class="btn btn-success btn-lg">
      Propose a tour in your city now!
    </button>
  <% end %>
<% else %>
  <% @guides.each do |guide| %>
    <div class="col-xs-12 col-sm-4">
      <ul class='card-title list-inline text-center'>
        <li><h4><%= guide.title %></h4></li>
        <li><%= link_to edit_guide_path(guide) do %>
          <i class="fa fa-pencil fa-1x" aria-hidden="true"></i>
        <% end %></li>
        <li><%= link_to guide_path(guide),method: :delete,
          data: { confirm: "Are you sure?" } do %>
          <i class="fa fa-trash fa-1x" aria-hidden="true"></i>
        <% end %></li>
      </ul>

      <% if guide[:photo] %>
        <div class="card"
          style="background-image: url('<%= cl_image_path guide.photo, height: 250, width: 250, crop: :fill %>')">
          <%= link_to "", guide_path(guide), {class: "card-link"} %>
        </div>
      <% end %>
      <div class="card-description text-center">
        <h4><%= guide.description %></h4>
      </div>

    </div>
  <% end %>
<% end %>
