<div class="min-padded"></div>
<h1 class = "text-center"><%= @guide.title %></h1>
<div class="min-padded"></div>
<div class="container">
  <div class="row text-center">
    <div class="col-xs-12 col-sm-6 quarter">
      <div class="card-guide">
        <h3>Guide of the tour: <%= @guide.profile.user.first_name %></h3>
        <p><strong>What to expect:</strong> <%= @guide.category %></p>
        <p><strong>Starting point:</strong> <%= @guide.address %></p>
        <p><strong>About:</strong> <%= @guide.description %></p>
        <p class='price'><%= "#{@guide.daily_price} €/day" %></p>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 quarter">
      <div class="card-guide">
        <%= simple_form_for [@guide, @booking], html: { :class => "form-inline" } do |f| %>
          <%= f.error_notification %>
          <div class="form-inputs date booking-form">
            <%= f.input :start_date, as: :string, label: "Book from ", input_html: { :style => 'width: 120px; padding-right: 0px; margin-right: 5px;' } %>
            <%= f.input :days, label: " for ", input_html: { value: '1', style: 'width: 40px; padding-right: 0px; margin-right: 5px;' } %>
            <%= f.input :meeting_time, as: :string, label: " days, starting at", input_html: { value: '10:00 am', style: 'width: 80px; padding-right: 0px; margin-right: 5px;' } %>
          </div>
          <div class="book-button">
            <div class="form-actions">
              <%= f.button :submit, 'Book now !', class: "btn-lg" %>
            </div>
            <% end %>
            <%= link_to 'Back', guides_path, class: "back-button" %>
          </div>
        </div>
    </div>
  </div>
  <div class="row-steps">
    <div class="col-xs-12 col-sm-6 quarter text-center">
      <h3>The perfect plan</h3>
      <div class="min-padded"></div>
      <table class="table table-hover">
          <colgroup>
            <col>
            <col class="align-right">
          </colgroup>
        <thead>
          <tr>
            <th>Step</th>
            <th>Establishment</th>
            <th>Delete?</th>
          </tr>
        </thead>
        <tfoot>
          <%= simple_form_for [@guide, @step] do |f| %>
            <tr class="warning">
              <td>
                <%= f.input :title, label: false, placeholder: 'Step' %>
              </td>
              <td>
                <%= f.input :establishment, label: false, placeholder: 'Establishment' %>
                <%= f.input :address, as: :hidden, label: false %>
                <%= f.input :city, as: :hidden, label: false %>
                <%= f.input :category, as: :hidden, label: false %>
              </td>
              <td>
                <%= f.button :submit, "Add", class: "btn btn-primary" %>
              </td>
            </tr>
          <% end %>
        </tfoot>
        <tbody>
         <% @guide.steps.each do |step| %>
            <tr>
              <td class="text-left"><%= step.title %></td>
              <td class="text-right"><%= step.establishment %></td>
              <td class="text-right">
                <%= link_to guide_step_path(@guide, step) , method: :delete, data: {confirm: "are you sure ?"} do %>
                  <i class="fa fa-trash" aria-hidden="true"></i>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="col-xs-12 col-sm-6 quarter step-map">
      <div class="container-map">
        <div id="map" style="width: 100%; height: 500px;"></div>
      </div>
    </div>
  </div>
</div>


<% content_for(:js) do %>
  <script>
    $(document).ready(function() {
      var handler = Gmaps.build('Google');
      handler.buildMap({ internal: { id: 'map' } }, function() {
        markers = handler.addMarkers(<%= raw @hash.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
        if (markers.length == 0) {
          handler.getMap().setZoom(2);
        } else if (markers.length == 1) {
          handler.getMap().setZoom(14);
        }
      });
      $('#booking_start_date').datetimepicker({
        format: 'DD MMM YYYY'
      });
      $('#booking_meeting_time').datetimepicker({
        format: 'HH:mm'
      });
    });
  </script>
<% end %>
