<% if @guide[:photo] %>
  <%= cl_image_tag @guide.photo, height: 150, width: 150, crop: :fill , class: "guide-photo"%>
<% end %>
<h2><%= @guide.title %></h2>
<h3><%= @guide.city %></h3>

<p><%= @guide.description %></p>
<p><%= "at #{@guide.address}" %></p>
<p><%= "What to expect: #{@guide.category}" %></p>
<p><%= "#{@guide.daily_price} Eur/day" %></p>

<%= link_to guides_path do %>
  <button type="button" class="btn btn-primary">Back</button>
<% end %>
<%= link_to new_guide_booking_path(@guide) do %>
  <button type="button" class="btn btn-primary">Book now !!!</button>
<% end %>
