<div class="min-padded"></div>
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <% if @owner %>
        <p>
          <em>You are the owner of this guide - you may
          <%= link_to edit_guide_path(@guide.id) do %>
            <button class="btn btn-info">Edit</button>
          <% end %>
        </em></p>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-offset-3 col-sm-6">
      <h1 class = "text-center"><%= @guide.title %></h1>
      <h3 class = "text-right"><em><%= "by #{@guide.profile.user.name}" %></em></h3>
      <div class = "text-center">
        <% if !@owner %>
          <%= render 'bookings/form' %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="row text-left">
    <div class="col-xs-12 col-sm-6 quarter">
    <h3 class = 'text-center'>About the tour...</h3>
      <div class="guide-show-box">
        <div class="min-padded"></div>
        <p><strong>Description:</strong></p>
        <p><%= @guide.description %></p>
        <p><strong>What to expect:</strong></p>
        <p><%= @guide.category %></p>
        <p><strong>Starting point:</strong></p>
        <p><%= @guide.address %></p>
        <p class='price'><%= "#{@guide.daily_price} €/day" %></p>
      </div>
    </div>

    <div class="col-xs-12 col-sm-6 quarter">
      <h3 class = 'text-center'>About the guide...</h3>
        <div class="guide-show-box">
          <div class="min-padded"></div>
        </div>
    </div>

  </div>
  <div class="row-steps">
    <div class="col-xs-12 col-sm-6 quarter text-center">
      <h3>My typical tour</h3>
      <div class="min-padded"></div>
      <table class="table table-hover">
          <colgroup>
            <col>
            <col class="align-right">
          </colgroup>
        <thead>
          <tr>
            <th>Step</th>
            <th>Establishment</th>
            <% if @owner %><th>Delete?</th><% end %>
          </tr>
        </thead>
        <% if @owner %>
          <tfoot>
            <%= simple_form_for [@guide, @step] do |f| %>
              <tr class="warning">
                <td>
                  <%= f.input :title, label: false, placeholder: 'Step' %>
                </td>
                <td>
                  <%= f.input :establishment, label: false, placeholder: 'Establishment' %>
                  <%= f.input :address, as: :hidden, label: false %>
                  <%= f.input :city, as: :hidden, label: false %>
                  <%= f.input :category, as: :hidden, label: false %>
                </td>
                <td>
                  <%= f.button :submit, "Add", class: "btn btn-primary" %>
                </td>
              </tr>
            <% end %>
          </tfoot>
        <% end %>
        <tbody>
         <% @guide.steps.each do |step| %>
            <tr>
              <td class="text-left"><%= step.title %></td>
              <td class="text-right"><%= step.establishment %></td>
              <% if @owner %>
                <td class="text-right">
                  <%= link_to guide_step_path(@guide, step) , method: :delete, data: {confirm: "are you sure ?"} do %>
                    <i class="fa fa-trash" aria-hidden="true"></i>
                  <% end %>
                </td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="col-xs-12 col-sm-6 quarter step-map">
      <div class="container-map">
        <div id="map" style="width: 100%; height: 500px;"></div>
      </div>
    </div>
  </div>
</div>


<% content_for(:js) do %>
  <script>
    $(document).ready(function() {
      var handler = Gmaps.build('Google');
      handler.buildMap({ internal: { id: 'map' } }, function() {
        markers = handler.addMarkers(<%= raw @hash.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
        if (markers.length == 0) {
          handler.getMap().setZoom(2);
        } else if (markers.length == 1) {
          handler.getMap().setZoom(14);
        }
      });
      $('#booking_start_date').datetimepicker({
        format: 'DD MMM YYYY'
      });
      $('#booking_meeting_time').datetimepicker({
        format: 'HH:mm'
      });
    });
  </script>
<% end %>
