<%= simple_form_for(@review) do |f| %>
  <% if @review.errors.any? %>
   <div id="error_explanation">
     <ul>
     <% @review.errors.full_messages.each do |message| %>
       <li><%= message %></li>
     <% end %>
     </ul>
   </div>
  <% end %>

  <%= f.text :content %>
  <%= f.association :rating { value: [1, 2, 3 ,4 ,5] } %>
  <%= f.button :submit %>

  <%= link_to "Back", @booking_path, {class: "btn btn-primary"} %>
<% end %>



